/* Defaults */
* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: rgb(40,40,40);
  color: rgb(210,210,210);
  height: 90px;
  width: 100%;
  text-align: center;
}

/* Grid de imagens */
.grid {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 60px;
  display: block;
}

.box {
  width: 50%;
  height: auto;
  float: left;
  padding: 20px;
}

.box2 {
  background-color: rgb(60,60,60);
}

.gridobject {
  width: 100%;
  margin: auto;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 93%;
  width: 96%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(40,40,40,0.75);
  margin: auto;
}

.container {
  position: relative;
  width: 50%
}

.container:hover .overlay {
  opacity: 1;
}

.texto-imagem {
  color: white;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* */
div.paragrafo {
    /*font-family: 'Source Serif Pro', serif;*/
}
