body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  background-color: rgb(40,40,40);
  color: rgb(210,210,210);
  height: 90px;
  width: 100%;
  text-align: center;
}

.grid {
  width: 70%;
  height: auto;
  margin: auto;
  display: block;
}

div.paragrafo {
    /*font-family: 'Source Serif Pro', serif;*/
}
