:root {
  --font-1: 'Raleway', sans-serif;
  --font-2: 'GFS Didot', serif;
  --font-3: 'Lato', sans-serif;


  --color-1: rgb(54,54,54);
  --color-2: rgb(94,94,94);

  --width-margem: 90%;
}

/* Default */

::selection {
  background-color: var(--color-1);
  color: white;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Cabeçalho */

header {
  color: rgb(210,210,210);
  height: 80px;
  width: var(--width-margem);
  text-align: center;
  margin: auto;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: var(--color-2);
  font-family: var(--font-1);
  font-weight: normal;
  text-align: center;
  padding: 32px 10px;
  text-decoration: none;
  font-size: 16px;
}

#anajulia {
  float: left;
  margin-left: -8px;
  color: rgb(40,40,40);
  transition: 0.5s;
}

#anajulia:hover {
  color: #DAA520;
}

.topnav a:hover {
  color: rgb(114,114,114);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Título em paralaxe */

.parallax {
  background-image: url(img01.jpg);

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: var(--width-margem);
  margin: auto;
}

.titulo-principal {
  font-family: var(--font-1);
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.5em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 200px;
}

h2.titulo-principal {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.8em;
  line-height: 1.2em;
  margin-top: -18px;
}

/* Section-1 "Quem sou" */

.section-1 {
  width: var(--width-margem);
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
}

div.paragrafo {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-1);
  color: var(--color-1);
  text-align: center;
  line-height: 1.6em;
  margin: auto;
  display: block;
  width: 30%;
}

h2.titulo-pequeno {
  font-size: 24px;
  text-align: center;
  font-family: var(--font-2);
  color: var(--color-2);
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-style: italic;
}

/* Galeria de imagens */

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.container {
  position: relative;
}

.grid {
  width: var(--width-margem);
  height: auto;
  margin: auto;
  display: block;
}

.box {
  width: 50%;
  height: auto;
  float: left;
  padding: 10px;
}

.gridobject {
  width: 100%;
  margin: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 96%;
  width: 98%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(40,40,40,0.75);
  margin: auto;
}

.container {
  position: relative;
  width: 50%
}

.container:hover .overlay {
  opacity: 1;
}

.texto-imagem {
  color: white;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Imagens em 360 (panorama) */

div.panorama {
  width: var(--width-margem);
  height: auto;
  margin: auto;
}

.titulo-projeto {
  font-family: var(--font-1);
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  color: var(--color-2);
  margin-top: 70px;
  margin-bottom: 20px;
  letter-spacing: 0.15em;
}

/* Contatos */
.contatos {
  width:18%;
}

.section-2 img {
  border-radius: 40px;
  margin: auto;
  margin-top: 40px;
  display: block;
  width: 20%;

}

/* Mobile */
@media only screen and (max-device-width: 1200px) and (orientation: portrait) {

  .grid {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }

  .box {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .parallax {
    background-image: url(img01.jpg);

    min-height: 900px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    margin: auto;
  }

  div.paragrafo {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-1);
    color: var(--color-1);
    text-align: center;
    line-height: 1.6em;
    margin: auto;
    display: block;
    width: 100%;
  }

  .titulo-principal {
    font-family: var(--font-1);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.5em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  h2.titulo-principal {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.8em;
    line-height: 1.2em;
    margin-top: -17%;
    margin-bottom: 0%;
  }

  div.panorama {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .contatos {
    width:28%;
  }


}
